<div class="card card-1 mt-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis rud exercitation ullamco laboris nisi ut aliquip..

    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
    enim ad minima veniam, quis nostrum exercitationem ullam ede corporis suscipit laboriosam, nisi ut aliquid ex ea
    commodi consequatur? Quis autem vel eum iure nderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
    vel illum qui dolorem.

    MECHA-DRAGON IMPROVEMENTS
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minimam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea modo sequat. Duis aute
    irure dolor in reprehenderit in voluriatur.
</div>
<div class="row justify-content-center mt-5">
    <button class="col-8 col-sm-7 col-md-5 btn btn-primary-inverse btn-lg btn-block"
        routerLink="/registration/register">
        {{'FORM.submit-your-request' | translate}}
    </button>
</div>