<div class="widget-game-result__section">
    <div class="widget-game-result__section-inner">
        <header
            class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">
            <h3 class="widget-game-result__title">Striker GO</h3><time class="widget-game-result__date"
                datetime="2018-04-26">{{data.date | date}}</time>
        </header>
        <header class="widget-game-result__header">
            <h3 class="widget-game-result__title">{{data.leauge}}</h3>
            <div class="widget-game-result__subtitle">{{data.period}}</div>
        </header>
        <div class="widget-game-result__main">

            <div class="widget-game-result__team widget-game-result__team--first">
                <figure class="widget-game-result__team-logo"><a href="#"><img
                            src="assets/images/esports/logos/alchemists-86x98.png" alt=""></a>
                </figure>
                <div class="widget-game-result__team-info">
                    <h5 class="widget-game-result__team-name">{{data.team1.name}}</h5>
                    <div class="widget-game-result__team-desc">{{data.team1.place}}</div>
                </div>
            </div>
            <div class="widget-game-result__score-wrap">
                <div class="widget-game-result__score"><span
                        class="widget-game-result__score-result widget-game-result__score-result--winner">{{data.team1.score}}</span>
                    <span class="widget-game-result__score-dash">-</span> <span
                        class="widget-game-result__score-result widget-game-result__score-result--loser">{{data.team2.score}}</span>
                </div><a href="https://www.youtube.com/watch?v=XE0fU9PCrWE"
                    class="widget-game-result__score-video-icon mp_iframe" data-toggle="tooltip" data-placement="bottom"
                    title="Watch Replay"><i class="fas fa-play"></i></a>
            </div>
            <div class="widget-game-result__team widget-game-result__team--second">
                <figure class="widget-game-result__team-logo"><a href="#"><img
                            src="assets/images/esports/logos/alchemists-86x98.png" alt=""></a>
                </figure>
                <div class="widget-game-result__team-info">
                    <h5 class="widget-game-result__team-name">{{data.team2.name}}</h5>
                    <div class="widget-game-result__team-desc">{{data.team2.place}}</div>
                </div>
            </div>
        </div>
    </div>
</div>