<div class="card">
    <div class="card__header">
        <h4>{{'FORM.login-to-your-account' | translate}}</h4>
    </div>
    <div class="card__content">
        <!-- Login Form -->
        <form>
            <div class="form-group"><label for="login-name">{{'FORM.your-email' | translate}}</label> <input
                    type="email" name="login-name" id="login-name" class="form-control"
                    placeholder="{{'FORM.enter' | translate}} {{'FORM.your-email' | translate}}..."></div>
            <div class="form-group"><label for="login-password">{{'FORM.your-password' | translate}}</label> <input
                    type="password" name="login-password" id="login-password" class="form-control"
                    placeholder="{{'FORM.enter' | translate}} {{'FORM.your-email' | translate}}...">
            </div>
            <div class="form-group form-group--password-forgot"><label class="checkbox checkbox-inline"><input
                        type="checkbox" id="inlineCheckbox1" value="option1" checked="checked"> {{'FORM.rember-me' |
                    translate}} <span class="checkbox-indicator"></span></label> <span
                    class="password-reminder">{{'FORM.forgot-your-password' | translate}}
                    <a href=".">{{'FORM.click-here' | translate}}</a></span></div>
            <div class="form-group form-group--sm"><a href="."
                    class="btn btn-primary-inverse btn-lg btn-block">{{'SETTINGS.login' | translate}}</a>
            </div>
            <!-- <div class="row">
                <div class="col-md-6"><button class="btn btn-facebook btn-icon btn-block"><i
                            class="fab fa-facebook"></i> Sign In via Facebook</button></div>
                <div class="col-md-6"><button class="btn btn-twitter btn-icon btn-block"><i class="fab fa-twitter"></i>
                        Sign in via Twitter</button></div>
            </div> -->
        </form><!-- Login Form / End -->
    </div>
</div><!-- Login / End -->