<!-- <section id="wrapper" class="skewed">
    <div class="layer bottom">
        <div class="content-warpper">
            <div class="content-body">
                <h1>test</h1>
                <p>Voluptate aute culpa Lorem esse tempor cillum duis consectetur nulla nostrud officia labore.
                    Exercitation voluptate do dolore velit qui voluptate labore reprehenderit culpa ea anim. Culpa id ad
                    proident ipsum amet mollit minim.

                    Aute duis non adipisicing adipisicing aute occaecat aliquip fugiat. Velit ad officia aute sunt culpa
                    occaecat magna officia amet laboris cupidatat anim. Nisi consectetur eiusmod est aliquip incididunt
                    ad ut est tempor officia sint.

                    Eiusmod pariatur ullamco quis amet magna exercitation ullamco incididunt sunt laborum duis ipsum.
                    Laboris exercitation ad sunt in exercitation in culpa irure adipisicing sit veniam. Voluptate enim
                    anim labore veniam. Veniam aute Lorem aliquip adipisicing amet tempor est officia nulla nulla aute.
                    Nulla id anim nulla sunt esse incididunt proident consequat. Et reprehenderit cupidatat occaecat
                    commodo consequat ad consequat proident esse. Non fugiat cupidatat exercitation ut ullamco eu non
                    reprehenderit in in ad in aliqua aute.</p>
            </div>
        </div>
    </div>
    <div class="layer top">
        <div class="content-warpper">
            <div class="content-body">
                <h1>test</h1>
                <p>Voluptate aute culpa Lorem esse tempor cillum duis consectetur nulla nostrud officia labore.
                    Exercitation voluptate do dolore velit qui voluptate labore reprehenderit culpa ea anim. Culpa id ad
                    proident ipsum amet mollit minim.

                    Aute duis non adipisicing adipisicing aute occaecat aliquip fugiat. Velit ad officia aute sunt culpa
                    occaecat magna officia amet laboris cupidatat anim. Nisi consectetur eiusmod est aliquip incididunt
                    ad ut est tempor officia sint.

                    Eiusmod pariatur ullamco quis amet magna exercitation ullamco incididunt sunt laborum duis ipsum.
                    Laboris exercitation ad sunt in exercitation in culpa irure adipisicing sit veniam. Voluptate enim
                    anim labore veniam. Veniam aute Lorem aliquip adipisicing amet tempor est officia nulla nulla aute.
                    Nulla id anim nulla sunt esse incididunt proident consequat. Et reprehenderit cupidatat occaecat
                    commodo consequat ad consequat proident esse. Non fugiat cupidatat exercitation ut ullamco eu non
                    reprehenderit in in ad in aliqua aute.</p>
            </div>
        </div>
    </div>
    <div class="handle">
        <img>
    </div>
</section> -->


<section class="split">
    <div class="screen">
        <!-- <div class="">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-4">
                    <h1 class="big-title">
                        Joing to us
                    </h1>
                    <p class="big-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque necessitatibus laborum,
                        nesciunt,
                        commodi, pariatur, modi quo velit iure soluta qui eos? Fugit aliquid unde alias ab doloremque,
                        eaque. Porro, sunt!
                    </p>
                    <div class="match-preview__action match-preview__action--ticket">
                        <a href="#" class="btn btn-primary-inverse btn-lg btn-block">Buy Tickets Now</a>
                    </div>
                </div>
            </div>

        </div> -->
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-8">
                <h1 class="big-title">
                    Joing to us
                </h1>
                <p class="big-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque necessitatibus laborum, nesciunt,
                    commodi, pariatur, modi quo velit iure soluta qui eos? Fugit aliquid unde alias ab doloremque,
                    eaque. Porro, sunt!
                </p>
            </div>
        </div>
    </div>

    <div class="screen">
        <!-- Match Preview -->
        <div class="match-preview">
            <section class="match-preview__body">
                <header class="match-preview__header">
                    <time class="match-preview__date" datetime="2018-08-14">Friday August 14th</time>
                    <h3 class="match-preview__title match-preview__title--lg">Quarter Finals</h3>
                </header>
                <div class="match-preview__content">

                    <!-- 1st Team -->
                    <div class="match-preview__team match-preview__team--first">
                        <figure class="match-preview__team-logo">
                            <img src="assets/images/soccer/logos/alchemists_buy_tickets.png" alt="">
                        </figure>
                        <h5 class="match-preview__team-name">Alchemists</h5>
                        <div class="match-preview__team-info">Elric Bros School</div>
                    </div>
                    <!-- 1st Team / End -->

                    <div class="match-preview__vs">
                        <div class="match-preview__conj">VS</div>
                        <div class="match-preview__match-info">
                            <time class="match-preview__match-time" datetime="2017-08-12 09:00">9:00
                                PM</time>
                            <div class="match-preview__match-place">Madison Cube Stadium</div>
                        </div>
                    </div>

                    <!-- 2nd Team -->
                    <div class="match-preview__team match-preview__team--second">
                        <figure class="match-preview__team-logo">
                            <img src="assets/images/soccer/logos/pirates_buy_tickets.png" alt="">
                        </figure>
                        <h5 class="match-preview__team-name">Pirates</h5>
                        <div class="match-preview__team-info">Bebop Institute</div>
                    </div>
                    <!-- 2nd Team / End -->

                </div>
            </section>
            <div class="countdown__content">
                <div class="countdown-counter" data-date="June 18, 2021 21:00:00"></div>
            </div>
            <div class="match-preview__action match-preview__action--ticket">
                <a href="#" class="btn btn-primary-inverse btn-lg btn-block">Buy Tickets Now</a>
            </div>
        </div>
        <!-- Match Preview / End -->
        <div class="content content2">
            <div class="match-preview__content">

                <!-- 1st Team -->
                <div class="match-preview__team match-preview__team--first">
                    <figure class="match-preview__team-logo">
                        <img src="assets/images/soccer/logos/alchemists_buy_tickets.png" alt="">
                    </figure>
                    <h5 class="match-preview__team-name">Alchemists</h5>
                    <div class="match-preview__team-info">Elric Bros School</div>
                </div>
                <!-- 1st Team / End -->

                <div class="match-preview__vs">
                    <div class="match-preview__conj">VS</div>
                    <div class="match-preview__match-info">
                        <time class="match-preview__match-time" datetime="2017-08-12 09:00">9:00
                            PM</time>
                        <div class="match-preview__match-place">Madison Cube Stadium</div>
                    </div>
                </div>

                <!-- 2nd Team -->
                <div class="match-preview__team match-preview__team--second">
                    <figure class="match-preview__team-logo">
                        <img src="assets/images/soccer/logos/pirates_buy_tickets.png" alt="">
                    </figure>
                    <h5 class="match-preview__team-name">Pirates</h5>
                    <div class="match-preview__team-info">Bebop Institute</div>
                </div>
                <!-- 2nd Team / End -->

            </div>
            <!-- <widget-game [data]=data></widget-game> -->
            <div class="row">
                <!-- Team Roster Navigation -->
                <div class="team-roster-nav js-team-roster-nav">
                    <div class="team-roster-nav__item">
                        <div class="team-roster-nav__hexagon">
                            <figure class="team-roster-nav__img"><img
                                    src="../../../../assets/images/samples/roster_player_01.jpg" alt=""> <span
                                    class="team-roster-nav__triangle"></span> <span
                                    class="team-roster-nav__triangle-border"></span> <span
                                    class="team-roster-nav__icon"><svg role="img" class="df-icon df-icon--fire">
                                        <use xlink:href="assets/images/esports/icons-esports.svg#fire" />
                                    </svg></span></figure>
                        </div>
                        <div class="team-roster-nav__meta">
                            <h6 class="team-roster-nav__firstname">Sarah</h6>
                            <h5 class="team-roster-nav__nickname">Fayed<span class="highlight">Bebop</span></h5>
                        </div>
                    </div>

                </div><!-- Team Roster Navigation / End -->
            </div>


        </div>
    </div>
</section>

<br>
<br>