<!-- Register -->
<div class="card">
    <div class="card__header">
        <h4>{{'FORM.register-now' | translate}}</h4>
    </div>
    <div class="card__content">
        <!-- Register Form -->
        <form>
            <div class="form-group"><label for="register-name">{{'FORM.your-email' | translate}}</label> <input
                    type="email" name="register-name" id="register-name" class="form-control"
                    placeholder="{{'FORM.enter' | translate}}  {{'FORM.your-email' | translate}}..."></div>
            <div class="form-group"><label for="register-password">{{'FORM.your-password' | translate}}</label> <input
                    type="password" name="register-password" id="register-password" class="form-control"
                    placeholder="{{'FORM.enter' | translate}} {{'FORM.your-password' | translate}}..."></div>
            <div class="form-group"><label for="repeat-password">{{'FORM.repeat-password' | translate}}</label> <input
                    type="password" name="repeat-password" id="repeat-password" class="form-control"
                    placeholder="{{'FORM.repeat-password' | translate}}..."></div>
            <div class="form-group"><a href="."
                    class="btn btn-primary-inverse btn-lg btn-block">{{'FORM.create-your-account' |
                    translate}}</a></div>
        </form><!-- Register Form / End -->
    </div>
</div><!-- Register / End -->