.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #bb9646 !important;
  border-color: transparent;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .btn-default.dropdown-toggle.focus,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle:hover {
  color: #fff;
  background-color: #bdcece !important;
  border-color: transparent;
}
.btn-default.active,
.btn-default:active,
.open > .btn-default.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: #eff3f3 !important;
  border-color: transparent;
}
.btn-default .badge {
  color: #eff3f3;
  background-color: #fff !important;
}
.btn-default-alt {
  color: #fff;
  background-color: #8b8b8b !important;
  border-color: transparent;
}
.btn-default-alt.active,
.btn-default-alt.focus,
.btn-default-alt:active,
.btn-default-alt:focus,
.btn-default-alt:hover,
.open > .btn-default-alt.dropdown-toggle {
  color: #fff;
  background-color: #d7b56d !important;
  border-color: transparent;
}
.btn-default-alt.active.focus,
.btn-default-alt.active:focus,
.btn-default-alt.active:hover,
.btn-default-alt:active.focus,
.btn-default-alt:active:focus,
.btn-default-alt:active:hover,
.open > .btn-default-alt.dropdown-toggle.focus,
.open > .btn-default-alt.dropdown-toggle:focus,
.open > .btn-default-alt.dropdown-toggle:hover {
  color: #fff;
  background-color: #606060 !important;
  border-color: transparent;
}
.btn-default-alt.active,
.btn-default-alt:active,
.open > .btn-default-alt.dropdown-toggle {
  background-image: none;
}
.btn-default-alt.disabled.focus,
.btn-default-alt.disabled:focus,
.btn-default-alt.disabled:hover,
.btn-default-alt[disabled].focus,
.btn-default-alt[disabled]:focus,
.btn-default-alt[disabled]:hover,
fieldset[disabled] .btn-default-alt.focus,
fieldset[disabled] .btn-default-alt:focus,
fieldset[disabled] .btn-default-alt:hover {
  background-color: #8b8b8b !important;
  border-color: transparent;
}
.btn-default-alt .badge {
  color: #8b8b8b;
  background-color: #fff !important;
}
.btn-default-alt.disabled {
  background-color: #2b2236 !important;
  color: #fafbfb;
}
.btn-primary {
  color: #fff;
  background-color: #d7b56d !important;
  border-color: transparent;
}
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ebcb85 !important;
  border-color: transparent;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #ba8f33 !important;
  border-color: transparent;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #d7b56d !important;
  border-color: transparent;
}
.btn-primary .badge {
  color: #d7b56d;
  background-color: #fff !important;
}
.btn-primary-inverse {
  color: #fff;
  background-color: #bb9646 !important;
  border-color: transparent;
}
.btn-primary-inverse.active,
.btn-primary-inverse.focus,
.btn-primary-inverse:active,
.btn-primary-inverse:focus,
.btn-primary-inverse:hover,
.open > .btn-primary-inverse.dropdown-toggle {
  color: #fff;
  background-color: #d7b56d !important;
  border-color: transparent;
}
.btn-primary-inverse.active.focus,
.btn-primary-inverse.active:focus,
.btn-primary-inverse.active:hover,
.btn-primary-inverse:active.focus,
.btn-primary-inverse:active:focus,
.btn-primary-inverse:active:hover,
.open > .btn-primary-inverse.dropdown-toggle.focus,
.open > .btn-primary-inverse.dropdown-toggle:focus,
.open > .btn-primary-inverse.dropdown-toggle:hover {
  color: #fff;
  background-color: #7d642e !important;
  border-color: transparent;
}
.btn-primary-inverse.active,
.btn-primary-inverse:active,
.open > .btn-primary-inverse.dropdown-toggle {
  background-image: none;
}
.btn-primary-inverse.disabled.focus,
.btn-primary-inverse.disabled:focus,
.btn-primary-inverse.disabled:hover,
.btn-primary-inverse[disabled].focus,
.btn-primary-inverse[disabled]:focus,
.btn-primary-inverse[disabled]:hover,
fieldset[disabled] .btn-primary-inverse.focus,
fieldset[disabled] .btn-primary-inverse:focus,
fieldset[disabled] .btn-primary-inverse:hover {
  background-color: #bb9646 !important;
  border-color: transparent;
}
.btn-primary-inverse .badge {
  color: #bb9646;
  background-color: #fff !important;
}
.btn-success {
  color: #fff;
  background-color: #00ff5b !important;
  border-color: transparent;
}
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #00f056 !important;
  border-color: transparent;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .btn-success.dropdown-toggle.focus,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle:hover {
  color: #fff;
  background-color: #00a83c !important;
  border-color: transparent;
}
.btn-success.active,
.btn-success:active,
.open > .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  background-color: #00ff5b !important;
  border-color: transparent;
}
.btn-success .badge {
  color: #00ff5b;
  background-color: #fff !important;
}
.btn-info {
  color: #fff;
  background-color: #00deff !important;
  border-color: transparent;
}
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #00d1f0 !important;
  border-color: transparent;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .btn-info.dropdown-toggle.focus,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle:hover {
  color: #fff;
  background-color: #0093a8 !important;
  border-color: transparent;
}
.btn-info.active,
.btn-info:active,
.open > .btn-info.dropdown-toggle {
  background-image: none;
}
.btn-info.disabled.focus,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled].focus,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
  background-color: #00deff !important;
  border-color: transparent;
}
.btn-info .badge {
  color: #00deff;
  background-color: #fff !important;
}
.btn-warning {
  color: #fff;
  background-color: #ffb400 !important;
  border-color: transparent;
}
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #f0a900 !important;
  border-color: transparent;
}
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open > .btn-warning.dropdown-toggle.focus,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle:hover {
  color: #fff;
  background-color: #a87700 !important;
  border-color: transparent;
}
.btn-warning.active,
.btn-warning:active,
.open > .btn-warning.dropdown-toggle {
  background-image: none;
}
.btn-warning.disabled.focus,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled].focus,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
  background-color: #ffb400 !important;
  border-color: transparent;
}
.btn-warning .badge {
  color: #ffb400;
  background-color: #fff !important;
}
.btn-danger {
  color: #fff;
  background-color: #f92552 !important;
  border-color: transparent;
}
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #f91646 !important;
  border-color: transparent;
}
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .btn-danger.dropdown-toggle.focus,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle:hover {
  color: #fff;
  background-color: #c2052d !important;
  border-color: transparent;
}
.btn-danger.active,
.btn-danger:active,
.open > .btn-danger.dropdown-toggle {
  background-image: none;
}
.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled].focus,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
  background-color: #f92552 !important;
  border-color: transparent;
}
.btn-danger .badge {
  color: #f92552;
  background-color: #fff !important;
}
.btn-instagram {
  background-color: #1e78dd !important;
  color: #fff;
}
.btn-instagram:active,
.btn-instagram:focus,
.btn-instagram:hover {
  background-color: #3185e3 !important;
}
.btn-instagram i {
  font-size: 6px;
  position: relative;
  top: -1px;
}
.btn-instagram.btn-sm {
  padding-left: 24px;
  padding-right: 24px;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998 !important;
  border-color: transparent;
}
.btn-facebook.active,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook:hover,
.open > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #4264aa !important;
  border-color: transparent;
}
.btn-facebook.active.focus,
.btn-facebook.active:focus,
.btn-facebook.active:hover,
.btn-facebook:active.focus,
.btn-facebook:active:focus,
.btn-facebook:active:hover,
.open > .btn-facebook.dropdown-toggle.focus,
.open > .btn-facebook.dropdown-toggle:focus,
.open > .btn-facebook.dropdown-toggle:hover {
  color: #fff;
  background-color: #23345a !important;
  border-color: transparent;
}
.btn-facebook.active,
.btn-facebook:active,
.open > .btn-facebook.dropdown-toggle {
  background-image: none;
}
.btn-facebook.disabled.focus,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:hover,
.btn-facebook[disabled].focus,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook.focus,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:hover {
  background-color: #3b5998 !important;
  border-color: transparent;
}
.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff !important;
}
.btn-twitter {
  color: #fff;
  background-color: #1da1f2 !important;
  border-color: transparent;
}
.btn-twitter.active,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover,
.open > .btn-twitter.dropdown-toggle {
  color: #fff;
  background-color: #35abf3 !important;
  border-color: transparent;
}
.btn-twitter.active.focus,
.btn-twitter.active:focus,
.btn-twitter.active:hover,
.btn-twitter:active.focus,
.btn-twitter:active:focus,
.btn-twitter:active:hover,
.open > .btn-twitter.dropdown-toggle.focus,
.open > .btn-twitter.dropdown-toggle:focus,
.open > .btn-twitter.dropdown-toggle:hover {
  color: #fff;
  background-color: #0a70ae !important;
  border-color: transparent;
}
.btn-twitter.active,
.btn-twitter:active,
.open > .btn-twitter.dropdown-toggle {
  background-image: none;
}
.btn-twitter.disabled.focus,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:hover,
.btn-twitter[disabled].focus,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter.focus,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:hover {
  background-color: #1da1f2 !important;
  border-color: transparent;
}
.btn-twitter .badge {
  color: #1da1f2;
  background-color: #fff !important;
}
.btn-gplus {
  color: #fff;
  background-color: #dc4e41 !important;
  border-color: transparent;
}
.btn-gplus.active,
.btn-gplus.focus,
.btn-gplus:active,
.btn-gplus:focus,
.btn-gplus:hover,
.open > .btn-gplus.dropdown-toggle {
  color: #fff;
  background-color: #e06257 !important;
  border-color: transparent;
}
.btn-gplus.active.focus,
.btn-gplus.active:focus,
.btn-gplus.active:hover,
.btn-gplus:active.focus,
.btn-gplus:active:focus,
.btn-gplus:active:hover,
.open > .btn-gplus.dropdown-toggle.focus,
.open > .btn-gplus.dropdown-toggle:focus,
.open > .btn-gplus.dropdown-toggle:hover {
  color: #fff;
  background-color: #a72a1f !important;
  border-color: transparent;
}
.btn-gplus.active,
.btn-gplus:active,
.open > .btn-gplus.dropdown-toggle {
  background-image: none;
}
.btn-gplus.disabled.focus,
.btn-gplus.disabled:focus,
.btn-gplus.disabled:hover,
.btn-gplus[disabled].focus,
.btn-gplus[disabled]:focus,
.btn-gplus[disabled]:hover,
fieldset[disabled] .btn-gplus.focus,
fieldset[disabled] .btn-gplus:focus,
fieldset[disabled] .btn-gplus:hover {
  background-color: #dc4e41 !important;
  border-color: transparent;
}
.btn-gplus .badge {
  color: #dc4e41;
  background-color: #fff !important;
}
.btn-linkedin {
  color: #fff;
  background-color: #0077b5 !important;
  border-color: transparent;
}
.btn-linkedin.active,
.btn-linkedin.focus,
.btn-linkedin:active,
.btn-linkedin:focus,
.btn-linkedin:hover,
.open > .btn-linkedin.dropdown-toggle {
  color: #fff;
  background-color: #0088cf !important;
  border-color: transparent;
}
.btn-linkedin.active.focus,
.btn-linkedin.active:focus,
.btn-linkedin.active:hover,
.btn-linkedin:active.focus,
.btn-linkedin:active:focus,
.btn-linkedin:active:hover,
.open > .btn-linkedin.dropdown-toggle.focus,
.open > .btn-linkedin.dropdown-toggle:focus,
.open > .btn-linkedin.dropdown-toggle:hover {
  color: #fff;
  background-color: #003e5e !important;
  border-color: transparent;
}
.btn-linkedin.active,
.btn-linkedin:active,
.open > .btn-linkedin.dropdown-toggle {
  background-image: none;
}
.btn-linkedin.disabled.focus,
.btn-linkedin.disabled:focus,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled].focus,
.btn-linkedin[disabled]:focus,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin.focus,
fieldset[disabled] .btn-linkedin:focus,
fieldset[disabled] .btn-linkedin:hover {
  background-color: #0077b5 !important;
  border-color: transparent;
}
.btn-linkedin .badge {
  color: #0077b5;
  background-color: #fff !important;
}
.btn-vk {
  color: #fff;
  background-color: #6383a8 !important;
  border-color: transparent;
}
.btn-vk.active,
.btn-vk.focus,
.btn-vk:active,
.btn-vk:focus,
.btn-vk:hover,
.open > .btn-vk.dropdown-toggle {
  color: #fff;
  background-color: #7390b1 !important;
  border-color: transparent;
}
.btn-vk.active.focus,
.btn-vk.active:focus,
.btn-vk.active:hover,
.btn-vk:active.focus,
.btn-vk:active:focus,
.btn-vk:active:hover,
.open > .btn-vk.dropdown-toggle.focus,
.open > .btn-vk.dropdown-toggle:focus,
.open > .btn-vk.dropdown-toggle:hover {
  color: #fff;
  background-color: #415874 !important;
  border-color: transparent;
}
.btn-vk.active,
.btn-vk:active,
.open > .btn-vk.dropdown-toggle {
  background-image: none;
}
.btn-vk.disabled.focus,
.btn-vk.disabled:focus,
.btn-vk.disabled:hover,
.btn-vk[disabled].focus,
.btn-vk[disabled]:focus,
.btn-vk[disabled]:hover,
fieldset[disabled] .btn-vk.focus,
fieldset[disabled] .btn-vk:focus,
fieldset[disabled] .btn-vk:hover {
  background-color: #6383a8 !important;
  border-color: transparent;
}
.btn-vk .badge {
  color: #6383a8;
  background-color: #fff !important;
}
.btn-odnoklassniki {
  color: #fff;
  background-color: #f4731c !important;
  border-color: transparent;
}
.btn-odnoklassniki.active,
.btn-odnoklassniki.focus,
.btn-odnoklassniki:active,
.btn-odnoklassniki:focus,
.btn-odnoklassniki:hover,
.open > .btn-odnoklassniki.dropdown-toggle {
  color: #fff;
  background-color: #f58234 !important;
  border-color: transparent;
}
.btn-odnoklassniki.active.focus,
.btn-odnoklassniki.active:focus,
.btn-odnoklassniki.active:hover,
.btn-odnoklassniki:active.focus,
.btn-odnoklassniki:active:focus,
.btn-odnoklassniki:active:hover,
.open > .btn-odnoklassniki.dropdown-toggle.focus,
.open > .btn-odnoklassniki.dropdown-toggle:focus,
.open > .btn-odnoklassniki.dropdown-toggle:hover {
  color: #fff;
  background-color: #b14c09 !important;
  border-color: transparent;
}
.btn-odnoklassniki.active,
.btn-odnoklassniki:active,
.open > .btn-odnoklassniki.dropdown-toggle {
  background-image: none;
}
.btn-odnoklassniki.disabled.focus,
.btn-odnoklassniki.disabled:focus,
.btn-odnoklassniki.disabled:hover,
.btn-odnoklassniki[disabled].focus,
.btn-odnoklassniki[disabled]:focus,
.btn-odnoklassniki[disabled]:hover,
fieldset[disabled] .btn-odnoklassniki.focus,
fieldset[disabled] .btn-odnoklassniki:focus,
fieldset[disabled] .btn-odnoklassniki:hover {
  background-color: #f4731c !important;
  border-color: transparent;
}
.btn-odnoklassniki .badge {
  color: #f4731c;
  background-color: #fff !important;
}
.btn-link {
  color: hsla(0, 0%, 100%, 0.4);
}
.btn-link:hover {
  text-decoration: none;
  color: #fff;
}
.btn-lg {
  padding: 13px 80px;
  font-size: 14px;
  line-height: 1.45em;
  border-radius: 24px;
}
.btn-sm {
  padding: 8px 38px;
  font-size: 10px;
  border-radius: 16px;
}
.btn-sm,
.btn-xs {
  line-height: 1.5em;
}
.btn-xs {
  padding: 5px 13px;
  font-size: 9px;
  border-radius: 12px;
}
.btn-outline {
  background-color: transparent !important;
}
.btn-outline.btn-default {
  border-color: #fafbfb;
  color: #fff;
}
.btn-outline.btn-default:hover {
  background-color: transparent !important;
  border-color: #ffb400;
  color: #fff;
}
.btn-outline.btn-default:hover.btn-circle {
  background-color: #ffb400 !important;
}
.btn-outline.btn-primary {
  border-color: #fafbfb;
  color: #fff;
}
.btn-outline.btn-primary:hover {
  background-color: transparent !important;
  border-color: #ebcb85;
  color: #fff;
}
.btn-outline.btn-primary:hover.btn-circle {
  background-color: #ebcb85 !important;
}
.btn-outline.btn-inverse {
  border-color: #fff;
  color: #fff;
  border-width: 2px;
}
.btn-outline.btn-inverse:hover {
  background-color: #ebcb85 !important;
  border-color: #ebcb85;
  color: #fff;
}
.btn-outline.btn-inverse:hover i {
  color: #fff;
}
.btn-outline.btn-inverse:hover.btn-circle {
  background-color: #ebcb85 !important;
}
.btn-outline.btn-success {
  border-color: #00ff5b;
  color: #fff;
  border-width: 2px;
}
.btn-outline.btn-success:hover {
  background-color: #00f056 !important;
  border-color: #00f056;
  color: #fff;
}
.btn-outline.btn-success:hover i {
  color: #fff;
}
.btn-outline.btn-success:hover.btn-circle {
  background-color: #00f056 !important;
}
.btn-outline.btn-info {
  border-color: #00deff;
  color: #fff;
  border-width: 2px;
}
.btn-outline.btn-info:hover {
  background-color: #00d1f0 !important;
  border-color: #00d1f0;
  color: #fff;
}
.btn-outline.btn-info:hover i {
  color: #fff;
}
.btn-outline.btn-info:hover.btn-circle {
  background-color: #00d1f0 !important;
}
.btn-outline.btn-warning {
  border-color: #ffb400;
  color: #fff;
  border-width: 2px;
}
.btn-outline.btn-warning:hover {
  background-color: #f0a900 !important;
  border-color: #f0a900;
  color: #fff;
}
.btn-outline.btn-warning:hover i {
  color: #fff;
}
.btn-outline.btn-warning:hover.btn-circle {
  background-color: #f0a900 !important;
}
.btn-outline.btn-danger {
  border-color: #f92552;
  color: #fff;
  border-width: 2px;
}
.btn-outline.btn-danger:hover {
  background-color: #f91646 !important;
  border-color: #f91646;
  color: #fff;
}
.btn-outline.btn-danger:hover i {
  color: #fff;
}
.btn-outline.btn-danger:hover.btn-circle {
  background-color: #f91646 !important;
}
.btn-icon i {
  font-size: 1em;
  margin-right: 0.5em;
}
.btn-icon-right i {
  margin-right: 0;
  margin-left: 10px;
}
.btn-single-icon {
  padding-left: 0;
  padding-right: 0;
  width: 47px;
  text-align: center;
}
.btn-single-icon i {
  margin: 0;
  font-size: 13px;
  line-height: 1.2em;
}
.btn-circle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  text-align: center;
}
.btn-circle i {
  font-size: 15px;
}
.btn-circle.btn-outline {
  border-width: 2px;
}
.btn-circle.btn-xs {
  width: 24px;
  height: 24px;
  line-height: 22px;
}
.btn-circle.btn-xs i {
  font-size: 9px;
}
.btn-block {
  padding-left: 0;
  padding-right: 0;
}
.btn-condensed.btn-sm {
  padding: 13px 28px;
}
.btn-condensed.btn-sm.btn-icon-right {
  padding-right: 22px;
}
.btn-fab {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #bb9646 !important;
  border-radius: 50%;
}
.btn-fab:after,
.btn-fab:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff !important;
  transition: transform 0.25s ease;
}
.btn-fab:before {
  width: 17px;
  height: 3px;
}
.btn-fab:after {
  width: 3px;
  height: 17px;
}
.btn-fab:hover:after,
.btn-fab:hover:before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.btn-fab--clean {
  background-color: transparent !important;
}
.btn-fab--clean:after,
.btn-fab--clean:before {
  background-color: #d7b56d !important;
}
.btn-fab--sm {
  width: 30px;
  height: 30px;
}
.btn-fab--sm:before {
  width: 10px;
  height: 2px;
}
.btn-fab--sm:after {
  width: 2px;
  height: 10px;
}
