.card {
  border: 1px solid #8b8b8b !important;
  border-radius: 4px;
  background-color: #6b6b6b !important;
  margin-bottom: 15px;
}
.card--row {
  flex-direction: row;
}
.card--block {
  display: block;
}
.card--clean {
  background: none;
  border: none;
}
.card--clean .card__header {
  background-color: #6b6b6b !important;
  border: 1px solid #8b8b8b !important;
  border-radius: 4px;
}
.card--clean > .card__content {
  padding: 15px 0 0;
}
.card--has-table > .card__content {
  padding: 0;
}
.card--has-table > .card__content .table {
  margin-bottom: 0;
}
.card--no-paddings > .card__content {
  padding: 0;
}
.card--squared-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card__header {
  padding: 27px 23px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  border-bottom: 1px solid #8b8b8b !important;
  overflow: hidden;
  background-color: #4d4c4b !important;
}
.card__header ~ .card__header,
.card__header ~ .card__header:before {
  border-radius: 0;
}
.card__header:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #d7b56d !important;
  border-radius: 3px 0 0 0;
}
.card__header > h4 {
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  text-transform: uppercase;
  font-style: italic;
}
@media (min-width: 992px) {
  .card__header .card-header__button {
    float: right;
  }
}
.card__header--has-btn {
  padding-top: 24px;
  padding-bottom: 24px;
}
.card__header--has-btn > h4 {
  margin-bottom: 0.5em;
}
@media (min-width: 480px) {
  .card__header--has-btn > h4 {
    display: inline-block;
    margin-bottom: 0;
  }
}
.card__header--has-filter {
  padding-top: 24px;
  padding-bottom: 24px;
}
.card__header--has-filter > h4 {
  display: inline-block;
}
.card__header--has-filter .category-filter {
  padding-top: 5px;
}
@media (min-width: 480px) {
  .card__header--has-filter .category-filter {
    float: right;
    padding-top: 0;
  }
}
.card__header--has-legend {
  padding-top: 24px;
  padding-bottom: 24px;
}
.card__header--has-legend > h4 {
  display: inline-block;
}
.card__header--has-legend .chart-legend {
  padding-top: 5px;
}
@media (min-width: 480px) {
  .card__header--has-legend .chart-legend {
    float: right;
    padding-top: 0;
  }
}
.card__header--has-checkbox {
  padding-top: 24px;
  padding-bottom: 24px;
}
.card__header--has-checkbox > h4 {
  margin-bottom: 0.5em;
}
@media (min-width: 480px) {
  .card__header--has-checkbox > h4 {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) {
  .card__header--has-checkbox .checkbox {
    float: right;
    padding-top: 0;
    font-size: 10px;
    font-weight: 700;
  }
}
.card__header--has-toggle {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.card__header--has-toggle .switch {
  flex-grow: 1;
  text-align: right;
}
.card__header--has-arrows .slick-next,
.card__header--has-arrows .slick-prev {
  top: 25px;
}
.card__header--has-team-info {
  padding-top: 21px;
  padding-bottom: 21px;
}
.card__header--no-highlight:before {
  display: none;
}
.card__header--double {
  display: flex;
  justify-content: space-between;
}
.card__header--double:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffb400;
  border-radius: 0 3px 0 0;
}
.card__content {
  padding: 24px;
}
.card__content-inner {
  padding: 20px;
}
.card__content--header-bg {
  background-color: #4d4c4b !important;
}
.card__content--pattern-dotted {
  //   background-image: url(../../assets/images/pattern-12x12.gif);
  background-position: 6px 10px;
}
.card__subheader {
  background: #4d4c4b !important;
  border-top: 1px solid #8b8b8b !important;
  border-bottom: 1px solid #8b8b8b !important;
  text-align: center;
  padding: 8px 0;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .card__subheader {
    padding: 11px 0;
    margin-bottom: 30px;
  }
}
.card__subheader h5 {
  margin-bottom: 0;
  font-style: normal;
  text-transform: uppercase;
}
.card__subheader--nomargins {
  margin: 0;
}
.card__subheader--sm h5 {
  font-size: 11px;
  line-height: 1.2em;
}
.card__subheader--side {
  text-align: left;
  border-top: 0;
  background-color: transparent;
  padding: 15px 24px;
}
.card__subheader--side h5 {
  font-style: italic;
}
.card__subheader--flex {
  display: flex;
  border-top: 1px solid #8b8b8b;
}
.card__subheader--flex :last-child {
  margin-left: auto;
}
.card__subheader--flex h5 {
  font-style: normal;
}
.card__subheader--clean {
  background-color: transparent;
}
.card__subheader--clean > h5 {
  font-weight: 400;
  color: #ebecec;
  font-size: 9px;
}
.alc-teams-legend {
  display: flex;
  align-items: center;
}
.alc-teams-legend__info {
  margin-left: auto;
}
@media (min-width: 992px) {
  .alc-teams-legend__info {
    display: flex;
  }
}
.alc-teams-legend__teams {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 991px) {
  .alc-teams-legend__teams {
    margin-bottom: 10px;
  }
}
.alc-teams-legend__teams + .btn {
  margin-left: 20px;
}
.alc-teams-legend__team {
  display: flex;
  align-items: center;
}
.alc-teams-legend__team + .alc-teams-legend__team {
  margin-left: 20px;
}
.alc-teams-legend__team-color {
  width: 8px;
  height: 8px;
  background-color: #d7b56d !important;
  border-radius: 2px;
  margin-right: 10px;
}
.alc-teams-legend__team-color--color-info {
  background-color: #00deff;
}
.alc-teams-legend__team-color--color-success {
  background-color: #00ff5b;
}
.alc-teams-legend__team-color--color-4 {
  background-color: #ffb400;
}
.alc-teams-legend__team-color--color-clovers {
  background-color: #aaf20e;
}
@media (min-width: 992px) {
  .card--lg .card__content {
    padding: 43px;
  }
}
@media (min-width: 992px) {
  .card--xlg .card__content {
    padding: 70px;
  }
}
.card--alt-color .card__header:before {
  background-color: #ffb400;
}
.card--color-clovers .card__header:before {
  background-color: #aaf20e;
}
.card--color--info .card__header:before {
  background-color: #00deff;
}
.card__header--shop-filter {
  padding: 0;
}
.card--section {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card--info .card__content p {
  font-size: 0.86em;
  line-height: 1.83em;
}
.card--info .contact-info {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #8b8b8b;
}
.card--info .contact-info__item {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
  margin: -1px 0 0 -1px;
  text-align: center;
  padding: 25px 10px;
  border-left: 1px solid #8b8b8b;
  border-top: 1px solid #8b8b8b;
}
.card--info .contact-info__icon {
  color: #d7b56d !important;
  font-size: 18px;
  margin-bottom: 20px;
}
.card--info .contact-info__label {
  font-size: 0.86em;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  color: #fff !important;
}
.card--info .contact-info__label a {
  color: #fff !important;
}
.card--info .contact-info__label a:hover {
  color: #bb9646 !important;
}
.label {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  padding: 0.5em 1.1em;
  font-size: 8px;
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
}
.label,
a.label:focus,
a.label:hover {
  color: #fff;
}
.label-default {
  background-color: #ebecec;
}
.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #d1d3d3;
}
.label-primary {
  background-color: #d7b56d !important;
}
.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #cca145 !important;
}
.label-success {
  background-color: #00ff5b;
}
.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #00cc49;
}
.label-info {
  background-color: #00deff;
}
.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #00b2cc;
}
.label-warning {
  background-color: #ffb400;
}
.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #cc9000;
}
.label-danger {
  background-color: #f92552;
}
.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #e50636;
}
.label-loss,
.label-win {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  font-size: 10px;
  color: #2b2a29;
  border-radius: 4px;
}
.label-win {
  background-color: #00ff5b;
}
.label-win[href]:focus,
.label-win[href]:hover {
  background-color: #00cc49;
}
.label-loss {
  background-color: #f92552;
}
.label-loss[href]:focus,
.label-loss[href]:hover {
  background-color: #e50636;
}
label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  color: #fff !important;
  font-weight: 700;
}
.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 20px;
  line-height: 1.85714;
  font-size: 12px;
  color: #ebecec;
  background-color: #2b2a29 !important;
  border: 1px solid #8b8b8b !important;
  border-radius: 24px;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out !important;
}
.form-control:not(textarea) {
  height: 46px;
}
.form-control:focus {
  color: #ebecec;
  background-color: #2b2a29 !important;
  border-color: #d7b56d !important;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: rgba(250, 251, 251, 0.6);
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: rgba(250, 251, 251, 0.6);
}
.form-control::-webkit-input-placeholder {
  color: rgba(250, 251, 251, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fafbfb;
  border-color: #8b8b8b;
}
.form-control[disabled]::-moz-placeholder,
.form-control[readonly]::-moz-placeholder,
fieldset[disabled] .form-control::-moz-placeholder {
  color: hsla(217, 4%, 62%, 0.4);
  opacity: 1;
}
.form-control[disabled]:-ms-input-placeholder,
.form-control[readonly]:-ms-input-placeholder,
fieldset[disabled] .form-control:-ms-input-placeholder {
  color: hsla(217, 4%, 62%, 0.4);
}
.form-control[disabled]::-webkit-input-placeholder,
.form-control[readonly]::-webkit-input-placeholder,
fieldset[disabled] .form-control::-webkit-input-placeholder {
  color: hsla(217, 4%, 62%, 0.4);
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success.checkbox-inline label,
.has-success.checkbox label,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.radio-inline label,
.has-success.radio label {
  color: #fff;
}
.has-success .form-control {
  background-position: center right 0.9em;
  background-repeat: no-repeat;
  background-size: 20px 16px;
  padding-right: 2.2em;
}
.has-success .form-control,
.has-success .form-control:focus {
  border-color: #00ff5b;
  box-shadow: none;
}
.has-success .input-group-addon {
  color: #00ff5b;
  border-color: #00ff5b;
  background-color: #2b2a29;
}
.has-success .form-control-feedback {
  color: #00ff5b;
}
.has-success .form-control {
  background-size: 15px 12px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath transform='translate(-189.438 -2446.25)' fill='%2324d9b0' d='M201.45,2446.24l2.121,2.13-9.192,9.19-2.122-2.12Zm-4.949,9.2-2.121,2.12-4.95-4.95,2.121-2.12Z'/%3E%3C/svg%3E");
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning.checkbox-inline label,
.has-warning.checkbox label,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.radio-inline label,
.has-warning.radio label {
  color: #fff;
}
.has-warning .form-control {
  background-position: center right 0.9em;
  background-repeat: no-repeat;
  background-size: 20px 16px;
  padding-right: 2.2em;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #ff7e1f;
  box-shadow: none;
}
.has-warning .input-group-addon {
  color: #ff7e1f;
  border-color: #ff7e1f;
  background-color: #2b2a29;
}
.has-warning .form-control-feedback {
  color: #ff7e1f;
}
.has-warning .form-control {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff7e1f' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error.checkbox-inline label,
.has-error.checkbox label,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.radio-inline label,
.has-error.radio label {
  color: #fff;
}
.has-error .form-control {
  background-position: center right 0.9em;
  background-repeat: no-repeat;
  background-size: 20px 16px;
  padding-right: 2.2em;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #f92552;
  box-shadow: none;
}
.has-error .input-group-addon {
  color: #f92552;
  border-color: #f92552;
  background-color: #2b2a29;
}
.has-error .form-control-feedback {
  color: #f92552;
}
.has-error .form-control {
  background-size: 11px 11px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath transform='translate(-190.844 -2353.84)' fill='%23f34141' d='M190.843,2355.96l2.121-2.12,9.193,9.2-2.122,2.12Zm9.192-2.12,2.122,2.12-9.193,9.2-2.121-2.12Z'/%3E%3C/svg%3E");
}
select.form-control {
  border-radius: 24px;
  background-color: #2b2a29;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fefefe' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
  background-position: right 1em center;
  background-repeat: no-repeat;
  padding-right: 2.2em;
  background-size: 6px 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: hsla(217, 4%, 62%, 0.4);
}
select.form-control::-ms-expand {
  display: none;
}
select.form-control option {
  background-color: #6b6b6b;
  color: #fff;
}
select.form-control.input-sm {
  height: 45px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}
select.form-control:not([size]):not([multiple]) {
  height: 46px;
}
select.form-control--clean {
  font-size: 15px;
  height: 28px !important;
  line-height: 1.2em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
  color: #fff;
  font-family: Roboto Condensed, sans-serif;
  border: none;
  background-color: transparent;
}
.input-sm {
  padding: 10px 14px;
  font-size: 11px;
}
.input-sm:not([size]):not([multiple]):not(textarea) {
  height: 33px;
}
.form-group {
  background: none;
  margin-bottom: 22px;
}
.form-group--sm {
  margin-bottom: 15px;
}
.form-group--xs {
  margin-bottom: 10px;
}
.form-group--lg {
  margin-bottom: 34px;
}
.form-group--submit {
  margin-bottom: 0;
  padding-top: 12px;
}
.form-group--password-forgot {
  display: flex;
  padding: 6px 0;
}
.form-group--password-forgot label {
  flex-grow: 1;
}
.form-group--password-forgot .password-reminder {
  font-size: 11px;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #fff;
}
.form-group--upload {
  overflow: hidden;
}
@media (min-width: 768px) {
  .form-group__avatar {
    float: left;
    width: 240px;
  }
}
.form-group__avatar img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  border-radius: 50%;
}
.form-group__avatar-wrapper {
  font-style: normal;
}
.form-group__avatar-wrapper:hover {
  cursor: pointer;
}
.form-group__avatar-wrapper .form-group__avatar-img {
  position: relative;
  display: inline-block;
}
.form-group__avatar-wrapper .form-group__avatar-img:before {
  content: "\f067";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #d7b56d;
  color: #fff;
  font-family: Font awesome\5 Free;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.form-group__avatar--center {
  text-align: center;
}
@media (min-width: 768px) {
  .form-group__avatar--center {
    float: none;
    width: 50%;
    margin: 0 auto;
  }
}
.form-group__avatar--center img {
  margin: 0 0 13px;
  border: 1px solid #8b8b8b;
}
.form-group__avatar--center .form-group__label {
  display: block;
  text-align: center;
}
.form-group__avatar--center .form-group__label h6 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2em;
  margin-bottom: 0.35em;
}
.form-group__avatar--center .form-group__label span {
  display: block;
  font-size: 10px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto Condensed, sans-serif;
  color: #ebecec;
}
.form-group__label {
  display: inline-block;
  vertical-align: middle;
}
.form-group__label h6 {
  font-size: 11px;
  line-height: 1.2em;
  margin-bottom: 0.2em;
}
.form-group__label span {
  display: block;
  font-size: 11px;
  line-height: 1.2em;
  color: #c2c4c7;
}
.form-group__upload {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .form-group__upload {
    padding-top: 15px;
  }
}
.checkbox {
  position: relative;
  margin: 0;
  font-weight: 700;
}
.widget--sidebar .checkbox {
  font-size: 10px;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-color: #2b2a29;
  border-color: #8b8b8b;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.checkbox .checkbox-indicator {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #2b2a29;
  border: 1px solid #8b8b8b;
  border-radius: 4px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 60% 60%;
}
.checkbox.checkbox-inline {
  padding-left: 24px;
}
.checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  background-color: #fafbfb;
  border-color: #8b8b8b;
}
.checkbox-table {
  display: flex;
  flex-wrap: wrap;
}
.checkbox-table .checkbox--cell {
  margin: 0 0 -1px -1px;
}
.checkbox--cell {
  width: 44px;
  height: 44px;
  position: relative;
}
.checkbox--cell input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: none !important;
  background-color: #bb9646;
  background-image: none;
  border-color: #8b8b8b;
  color: #fff;
}
.checkbox--cell .checkbox-indicator {
  content: "";
  width: 44px;
  height: 44px;
  background-color: #2b2a29;
  border: 1px solid #8b8b8b;
  border-radius: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
  transition: all 0.2s ease;
  text-align: center;
  line-height: 42px;
}
.radio {
  position: relative;
  margin: 0;
}
.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"]:checked + .radio-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23ffcc00'/%3E%3C/svg%3E");
}
.radio .radio-indicator {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #2b2a29;
  border: 1px solid #8b8b8b;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 8px 8px;
}
.radio.radio-inline {
  padding-left: 24px;
}
.radio input[type="radio"]:disabled + .radio-indicator {
  background-color: #fafbfb;
  border-color: #8b8b8b;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%239a9da2'/%3E%3C/svg%3E");
}
.radio--word {
  position: relative;
  padding: 0 !important;
}
.radio--word + .radio--word {
  margin-left: 20px;
}
.radio--word input[type="radio"]:checked + .radio-label {
  color: #fff;
}
.radio--word .radio-label {
  color: #bfc2c4;
  font-weight: 700;
}
.radio--word-lg {
  font-size: 15px;
  line-height: 1.2em;
}
.inline-form .input-group-append .btn,
.inline-form .input-group-prepend .btn {
  padding-left: 28px;
  padding-right: 28px;
}
abbr.required {
  border-bottom: none;
  color: #bb9646;
  margin-left: 0.2em;
  text-decoration: none;
}
.quantity-control {
  overflow: hidden;
}
.quantity-control .btn {
  display: inline-block;
  height: 30px;
  padding: 0 8px;
  background: none;
  border: none;
  color: #adb3b7;
  vertical-align: middle;
}
.quantity-control .btn:active,
.quantity-control .btn:focus,
.quantity-control .btn:hover {
  color: #fff;
}
.quantity-control .form-control {
  display: inline-block;
  width: 34px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  text-align: center;
  font-size: 13px;
  font-family: Roboto Condensed, sans-serif;
  vertical-align: middle;
  background-color: transparent;
  color: #fff;
}
.quantity-control .form-control::-webkit-inner-spin-button,
.quantity-control .form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-quantity-control {
  width: 80px;
  margin: 0 auto;
}
.form-desc--sm {
  font-size: 14px;
  line-height: 22px;
}
.switch {
  white-space: nowrap;
}
.switch__label-txt {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  vertical-align: middle;
  margin-right: 0.35em;
  color: #fff;
}
@media (max-width: 479px) {
  .switch__label-txt {
    display: none;
  }
}
.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  margin: 0;
}
.switch-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  padding: 2px;
  width: 48px;
  height: 24px;
  margin: 0;
  background-color: #fafbfb;
  border-radius: 22px;
  transition: background 0.4s;
  border: 1px solid #8b8b8b;
}
.switch-toggle + label:after,
.switch-toggle + label:before {
  display: block;
  position: absolute;
  content: "";
}
.switch-toggle + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 18px;
  background-color: #fff;
  background-image: linear-gradient(90deg, #e9e9ed, #e9e9ed 2px, transparent 0),
    linear-gradient(90deg, #e9e9ed, #e9e9ed 2px, transparent 0);
  background-size: 2px 8px, 2px 8px;
  background-position: 6px 5px, 10px 5px;
  background-repeat: no-repeat, no-repeat;
  border-radius: 50%;
  transition: margin 0.4s, background 0.4s;
}
.switch-toggle:checked + label {
  background-color: #00ff5b;
}
.switch-toggle:checked + label:after {
  margin-left: 26px;
}
.tooltip {
  font-size: 9px;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
}
.tooltip.show {
  opacity: 1;
}
.tooltip-inner {
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  background-color: #d7b56d;
  border-radius: 2px;
}
.bs-tooltip-top .arrow:before {
  border-top-color: #d7b56d;
}
.bs-tooltip-right .arrow:before {
  border-right-color: #d7b56d;
}
.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #d7b56d;
}
.bs-tooltip-left .arrow:before {
  border-left-color: #d7b56d;
}
.tooltip--card .tooltip-inner {
  background-color: #6b6b6b;
  border: 1px solid #8b8b8b;
  border-radius: 4px;
  padding: 18px 24px;
  max-width: 240px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.tooltip--card-sm .tooltip-inner {
  padding: 16px 18px;
}
.alc-circular-tooltip-stats {
  font-size: 10px;
  line-height: 1.2em;
  font-style: italic;
  text-align: left;
}
.alc-circular-tooltip-stats + .alc-circular-tooltip-stats {
  margin-top: 6px;
}
.alc-circular-tooltip-stat__circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.alc-circular-tooltip-stat__value {
  display: inline-block;
  margin-right: 0.15em;
}
.alc-circular-tooltip-stat__label {
  color: #ebecec;
  display: inline-block;
}
.countdown__content {
  padding: 15px 0 5px;
}
.countdown-counter {
  overflow: hidden;
}
.countdown-counter__item {
  font-size: 26px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #fff;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
  float: left;
  width: 25%;
  position: relative;
}
.countdown-counter__item + .countdown-counter__item:before {
  content: ":";
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 400;
}
.countdown-counter__label {
  display: block;
  font-size: 10px;
  line-height: 1.2em;
  padding-top: 3px;
  color: #ebecec;
}
.breadcrumb {
  padding: 3px 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 5px;
}
.breadcrumb-item + .breadcrumb-item:before {
  padding-right: 5px;
  color: #ebecec !important;
}
.breadcrumb-item > a {
  transition: color 0.2s ease;
}
.breadcrumb-item > a:hover {
  color: #d7b56d !important;
}
.breadcrumb-item.active {
  color: #ebecec;
}
.page-heading__breadcrumb {
  justify-content: center;
}
