.date {
  color: var(--black);
  font-size: 14px;
  font-weight: 800;
}
.time {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 500;
}
.title {
  margin-top: 20px !important;
}
.container[dir="rtl"] {
  .title {
    text-align: right;
  }
}
.container[dir="ltr"] {
  .title {
    text-align: left;
  }
}
