.date {
  color: #2b2a29;
  font-size: 14px;
  font-weight: 800;
}
.time {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 500;
}
.title {
  margin-top: 20px !important;
}
.container[dir="rtl"],
.container-fluid[dir="rtl"],
.hero[dir="rtl"] {
  .title,
  .team-result .team-result__date,
  caption,
  th {
    text-align: right;
  }
  .tournament-card,
  .registr-card,
  .card {
    direction: rtl;
  }
  .checkbox .checkbox-indicator {
    left: unset;
    right: 0;
  }
  .checkbox.checkbox-inline {
    padding-right: 24px;
    padding-left: unset;
  }
}
.container[dir="ltr"],
.container-fluid[dir="ltr"],
.hero[dir="ltr"] {
  .title,
  .team-result .team-result__date,
  caption,
  th {
    text-align: left;
  }
  .tournament-card,
  .registr-card,
  .card {
    direction: ltr;
  }
  .checkbox .checkbox-indicator {
    left: 0;
    right: unset;
  }

  .checkbox.checkbox-inline {
    padding-left: 24px;
    padding-right: unset;
  }
}

/* post-ads style */
.post-card {
  width: 100%;
  max-width: 320px;
  border: 1px solid #ebecec;
  border-radius: 4px;
}
.post-cat {
  display: block;
  position: absolute;
  left: 23px;
  top: 23px;
  padding-left: 4px;
  margin-bottom: 4px;
}
.post-card[dir="ltr"] {
  .post-cat {
    left: 23;
    right: 0;
    padding-left: 4px;
    padding-right: 0;
  }
  .post-cat-label {
    float: left;
  }

  .post-cta {
    right: 23px;
  }
}
.post-card[dir="rtl"] {
  .post-cat {
    left: 0;
    right: 23px;
    padding-left: 0;
    padding-right: 4px;
  }
  .post-cat-label {
    float: right;
  }

  .post-cta {
    left: 23px;
  }
}
.post-cat-label {
  background-color: transparent !important;
  position: relative;
  font-size: 10px;
  padding: 0.5em 1.1em;
  padding-top: 0.6em;

  z-index: 1;
  display: block;
  float: left;
  font-style: italic;
}

.post-cat-label::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: skewX(-15deg);
  background-color: #d7b56d;
}

.post-thumb {
  float: none;
  margin: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.post-thumb img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.post-thumb:hover img {
  transform: scale(1.1);
}

.post-body {
  padding-top: 18px;
  position: relative;
  padding: 24px;
}

.post-cta {
  background-color: var(--secondary);
  display: block;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  transform: translateY(-50%);
}
.post-cta:after {
  width: 3px;
  height: 17px;
}

.post-cta:before {
  width: 17px;
  height: 3px;
}
.post-cta:after,
.post-cta:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  transition: transform 0.25s ease;
}

.post-title a {
  color: #fefefe;
  transition: color 0.2s ease-in-out;
}
.post-date {
  color: var(--secondary);
}
.post-title a {
  color: #d7b56d;
  line-height: 26px;
}
.post-card:hover .post-title a {
  color: var(--secondary);
}
// .post-footer {
//   padding: 17px 24px;
//   border-top: 1px solid #d7b56d;
//   display: table;
//   width: 100%;
//   height: 100%;
// }

@media (min-width: 992px) {
  .post-excerpt {
    padding: 23px 0 8px;
  }
  .post-date + .post-title {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .post-title {
    font-size: 30px;
  }
}

/* post-ads style */

.card-1 {
  background-color: #fefefe;
  border-color: #ebecec;
  color: #2b2a29;
}

.mat-checkbox .mat-checkbox-label,
mat-checkbox .mat-checkbox-label {
  color: var(--secondary) !important;
}

.loader h1 {
  position: absolute;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
  z-index: 100000000000;
  color: #2b2a29;
  transition: 300em;
}

.loader .body {
  z-index: 100000000000;
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder 0.4s linear infinite;
  transition: 300em;

  > span {
    height: 5px;
    width: 35px;
    background: #2b2a29;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
    z-index: 100000000000;
  }
}

.loader .base {
  z-index: 100000000000;

  span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #2b2a29;
    border-bottom: 6px solid transparent;

    &:before {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: #2b2a29;
      position: absolute;
      right: -110px;
      top: -16px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-right: 55px solid #2b2a29;
      border-bottom: 16px solid transparent;
      top: -16px;
      right: -98px;
    }
  }
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #2b2a29;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;

  &:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #2b2a29;
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
  }
}

.loader .body > span > span:nth-child(1),
.loader .body > span > span:nth-child(2),
.loader .body > span > span:nth-child(3),
.loader .body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: #2b2a29;
  position: absolute;
  animation: fazer1 0.2s linear infinite;
}

.loader .body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.loader .body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.loader .body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  z-index: 100000000000;
  top: 0;
  height: 100%;

  span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #2b2a29;

    &:nth-child(1) {
      top: 20%;
      animation: lf 0.6s linear infinite;
      animation-delay: -5s;
    }

    &:nth-child(2) {
      top: 40%;
      animation: lf2 0.8s linear infinite;
      animation-delay: -1s;
    }

    &:nth-child(3) {
      top: 60%;
      animation: lf3 0.6s linear infinite;
    }

    &:nth-child(4) {
      top: 80%;
      animation: lf4 0.5s linear infinite;
      animation-delay: -3s;
    }
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.overlay {
  background-color: #d7b56d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10000;
}

.visible {
  transition: 300ms;
  visibility: visible;
}
.hidden {
  transition: 300ms;
  visibility: hidden;
}

.loader {
  overflow: hidden;
}
